*{ 
    box-sizing: border-box;
    margin: 0;
    border: 0;
}

html {
    font-family: "Montserrat";
    display: flex;
    justify-content: center;
    justify-items: center;
    background-color: #F1FAEE;
    font-size: 16px;
}

body {
    display: flex;
    width: 65%;
    min-height: 100%;
}

button{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background-color: #1d3557;
    width: 10rem;
    height: 2.5rem;
    border-radius: 0.3rem;
    border: 0.15rem solid;
    font-size: 1rem;
    font-weight: 400;
}

footer{
    position: absolute;
    padding: 1rem 10%;
    bottom: 0.5rem;
    border-radius: 0.3rem;
    background-color: #E63946;
    color: #ffffff;
    text-align: center;
    width:65%;
}